<?xml version="1.0"?>
<web-app>
  
	<servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Addtocart</servlet-name>
        <servlet-class>Addtocart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Addtocart</servlet-name>
        <url-pattern>/Addtocart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Subscribe</servlet-name>
        <servlet-class>Subscribe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Subscribe</servlet-name>
        <url-pattern>/Subscribe</url-pattern>
    </servlet-mapping>

    <dependency>
        <groupId>javax.servlet</groupId>
        <artifactId>jstl</artifactId>
        <version>1.2</version>
    </dependency>
	
    <welcome-file-list>
        <welcome-file>homepg.html</welcome-file>
    </welcome-file-list>
 </web-app>